/*Faves 'R Us colors scheme*/
.km-ios7 .km-navbar {
	background-color: #16a085 !important; /*Green Sea*/
	border-color: #16a085 !important;
	background-clip: content-box !important;
}

.km-ios7 .km-buttongroup, .green-text, .shares-wishlist {
	color: #16a085 !important;
}

.km-ios7 .km-view-title {
	color: white !important;
}

/* ----------- Common styles ----------- */
#thisorthat-view .km-navbar .km-rightitem a,  #home-view .km-navbar .km-rightitem a, #wishlist-view .km-navbar .km-rightitem a, #shares-view .km-navbar .km-rightitem a, #settings-view .km-navbar .km-rightitem a, #settings-view .km-navbar .km-leftitem a, #thisorthat-view .km-navbar .km-leftitem a, #wishlist-view .km-navbar .km-leftitem a, #wishlist-retailers-view .km-navbar .km-leftitem a, #wishlist-retailers-view .km-navbar .km-rightitem a, #myprofile-view .km-navbar .km-leftitem a, #myprofile-view .km-navbar .km-rightitem a, #home-event-view .km-navbar .km-rightitem a, #home-event-view .km-navbar .km-leftitem a {
	padding-top: 0em !important;
}

#thisorthat-view .km-navbar .km-rightitem a, #home-view .km-navbar .km-rightitem a, #wishlist-view .km-navbar .km-rightitem a, #shares-view .km-navbar .km-rightitem a, #settings-view .km-navbar .km-rightitem a {
	padding-left: 1em !important;
}

#thisorthat-view .km-navbar .km-rightitem a,  #home-view .km-navbar .km-rightitem a, #wishlist-view .km-navbar .km-rightitem a, #shares-view .km-navbar .km-rightitem a, #settings-view .km-navbar .km-rightitem a, #thisorthat-view .km-navbar .km-leftitem a {
	font-size: 1.5em !important;
}

#thisorthat-view .km-navbar .km-leftitem a, #wishlist-view .km-navbar .km-leftitem a {
	padding-right: 1em !important;
}



/*@media screen and (min-width: 361px) {*/
	.header-logo {
		width: 6em;
	}
/*}*/

/*@media screen and (max-width: 360px) {
	.header-logo {
		width:15%;
	}
}*/

.container {
	margin: 15px;
}

.center {
	margin-left: auto;
    margin-right: auto;
}

.text-center, .center {
    text-align: center;
}

.text-left {
	text-align: left;
}

.common-margin-top {
	margin-top: 20px;
}

/*#tabstrip a, #addItem-actionsheet a, #search-reset-btn span:active{*/
a.km-button.km-state-active {
  color: #16a085 !important;
}

.tabstrip a.km-button:nth-child(3) {
  background-color: rgba(22, 160, 133, 0.15) !important;
}

/*#tabstrip a {
	color: #7f8c8d !important;
}*/

.km-custom-wish-list {
    background-image: url("../images/wishlist_icon.png");
	-webkit-background-clip: border-box !important;
	background-size: 100% 100% !important;
}

#addItem-actionsheet a , #tort-addItem-actionsheet a{
	color: #16a085 !important; /*Green Sea*/
}

#tabstrip a:nth-child(3) img {
	width:105% !important;
}

.km-tabstrip {
	/*border-color: #16a085 !important;
	background-color: white !important;*/
	border-color: #7f8c8d !important;
	background-color: white !important;
}

/* For Header buttons */
.km-navbar a {
	color: white !important;
}

/*List with pluses*/
.km-wish-list:before,.km-wish-list:after {
	content: "\e078";
}

/*Common style for titles*/
#wishlist-title, #thisorthat-recommendations-modal .km-leftitem a, #thisorthat-products-details-modal .km-leftitem a, .product-name  {
	font-size: 1.4em !important;
	font-weight: bold;
}

.inner-shadow {
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
}
/* ----------- Modal View -----------*/
/*.km-shim {
	top: 7% !important;
	height: 84% !important;
	/*Display shim behind the header
	z-index: 1 !important;*/
/*}*/

.k-animation-container {
	width: 95% !important;
	height: 95% !important;
}

pre {
	margin: 0 !important;	
}

/*Colors*/
.black-tint {
	background-color: rgba(0, 0, 0,0.4) !important;
}
.green-sea-tint, .selected {
	background-color: rgba(22,160,133,0.4) !important;
}

.green {
	background-color: #16a085 !important;
}

.river-blue-tint {
	background-color: rgba(52, 152, 219,0.4) !important;
}

.alizarin-tint {
	background-color: rgba(231, 76, 60,0.4) !important;
}

.amethyst-tint {
	background-color: rgba(155, 89, 182,0.4) !important;
}

.carrot-orange-tint {
	background-color: rgba(230, 126, 34,0.4) !important;
}

.sunflower-yellow-tint {
	background-color: rgba(241, 196, 15,0.4) !important;
}

.black-tint, .emerald-tint, .green, .alizarin-tint, .river-blue-tint, .amethyst-tint, .carrot-orange-tint, .sunflower-yellow-tint {
	color: white !important;
}

.alizarin-text {
	color: #e74c3c !important;
}

.black-text {
	color: black !important;
}

.sunflower-yellow-text {
	color: #E7B800 !important; /*Darkened on purpose*/
}

.asbestos-text {
	color: #7f8c8d !important;
}

.gray-text {
	color: #7C7C7C !important;;
}

.hidden {
	display: none !important;
}

.invisible {
	visibility: hidden !important;
}

.show {
	display: initial !important;
}

#forgot-password-link {
	color: #007aff !important;
}

.no-border {
	border: 0px !important;
	background-color: transparent !important;
}

.no-padding {
	padding: 0px !important;
}

/* ----------- This or That View ----------- */
#thisorthat-logo {
	width: 55%;
}

#tort-or {
	font-weight: bold !important;
	font-style: italic !important;
	width: 12% !important;
	border: 1px solid black !important;
	border-top: none !important;
	border-bottom: none !important;
	border-radius: 20px !important;
	background-color: rgba(255, 255, 255,1);
	position: absolute;
	left: 44%;
	top: 0.9em;
	z-index: 2;
	font-size: 1.5em;
}

.km-heart-like:before, .km-heart-like:after {
	content: "\e044";
	/*-webkit-text-stroke: 3px white;*/
}

#thisorthat-view tr:nth-child(3) td {
	padding-bottom: 1em;
}

 #thisorthat-view tr:nth-child(3) td a span{
	color: #7C7C7C !important;
}

.km-full-star:before, .km-full-star:after {
	content: "\e047";
}

.km-half-star:before, .km-half-star:after {
	content: "\e049";
}

/*.km-no-star:before, .km-no-star:after {
	content: "\e044";
}*/

.km-heart-like, .km-heart-like {
	color: red !important;
}

/*#recommendations-btn {
	border: 0px !important;
	font-size: 1.6em;
	padding: 0px !important;
	right: 0.5em;
	position: absolute;
	background-color: transparent !important;
}*/

.red {
	color: red !important;
}

.no-recommendations-message, #request-pending-btn {
	font-size: 1.2em;
	font-weight: bold;
}

#recommendations-btn .km-badge{
	font-size: 0.5em !important;
	top: 0em !important;
	right: -0.5em !important;
	min-width: 1.5em !important;
	height: 1.5em !important;
	line-height: 1.5em !important;
}

.recommendations a {
	color: #f1c40f;
	position: absolute;
}

.tort-product {
	width: 80%;
}

.image-container {
	position: relative;
}

.menu-container {
	position: absolute;
	bottom: 20%;
	z-index: 2;
}

.right-40 {
	right: 40% !important;
}

.right-15 {
	right: 15% !important;
}

.menu {
	width: 2.5em;
	height: 2.5em;
	margin: 2px 3px -1px 3px;
}

.main-menu-back {
	position: absolute;
	bottom: 27%;
	right: 43%;
	background-color: white;
	width: 1.6em;
	height: 0.6em;
	z-index: 1;
}

.menu-option-container {
	position: absolute;
	left: 10%;
	bottom: 0%;
}

.menu-option:nth-child(2) {
	margin-left: 2em;
}

.menu-option {
	background-color: white;
	border-radius: 30px;
	border: 2px solid #7f8c8d;
}

.border-red {
	border-color: red;
}

.border-green {
	border-color: #16a085;
}

.menu-option>a {
	margin: 2px 5px -2px 0px;
}

#thisorthat-view .menu-option a{
	padding: 0em;
	/*position: absolute;
	right: 10%;*/
}

#thisorthat-view .menu-option a span{
	font-size: 40px !important;
	margin: 0px;
}

.popular-category-image {
	position: relative;
  	z-index: -1;
	width: 62% !important;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5rem;
}

.popular-category-name-container {
	position: absolute;
	top: 45%;
	width: 100% !important;
	font-size: 1.2em !important;
	font-weight:bold;
	/*left: 20%;*/
}

.thisorthat-icon{
	width: 2em;
	height: 2em;
}



.menu path {
    stroke: #7f8c8d; /*Asbestos*/
 	stroke-width: 8px;
}

.menu path, .best-price {
    fill: #7f8c8d;
}

#thisorthat-scrollview {
	white-space: normal !important;
}

#thisorthat-scrollview table {
	table-layout: fixed;
	width: 100%;
	border-spacing: 0 !important;
}

/*
.alt {
	background:rgba(231, 76, 60, 1) !important;
}

.alt td {
	color: white !important;
}*/

/*#thisorthat-scrollview table, td, tr {
	border: 1px solid red;
}*/

#thisorthat-view .km-pages {
	color: #16a085 !important; /*Green Sea*/
}

.store {
	width: 1.5em !important;
	height: 1.5em !important;
}

#thisorthat-or {
	margin: 1em 1.5em;
	color: #e74c3c;
  	font-weight: bold;
}

.side-by-side {
	display: inline-block;
}

.category-header {
	/*font-size: 1.2em !important;*/
	font-size: 1.4em !important;
	/*text-decoration: underline;*/
 	font-style: italic;
}

.divider-container {
	margin-top: 5px;
}

#thisorthat-button-container {
	margin-top: 10px;
}

#product-retailers-container {
	background-color: rgb(244, 244, 244);
}

.thisorthat-button-container .km-button {
	color: #16a085 !important;
  	border-color: #16a085 !important;
	width: 90% !important;
	/*border-radius: 15px !important;*/
  	/*height: 3em;*/
}

.thisorthat-button-container div {
	opacity: 0.8;
}

#thisorthat-wishlist-btn {
	font-size: 1.2em !important;
	width:90%;
}

.top-center {
	position: absolute;
	right: 40%;
  	top: 0%;
}

#thisorthat-view tr:first-child {
	font-weight: bold;
}

#thisorthat-view tr:first-child td{
	padding-bottom: 0.4em !important;
}


/*Divider line between product images*/
#thisorthat-view tr:nth-child(2) td:first-child{
	border-right: 1px solid black;
}

/*#thisorthat-view tr:nth-child(4) {
	background:rgba(231, 76, 60, 1) !important;
}*/

#thisorthat-view tr:nth-child(4) td {
	font-weight:bold;
	/*color: white !important;*/
}

/*$(Price)*/
#thisorthat-view tr:nth-child(5) td {
	color: #16a085 !important; /*Green Sea*/
}

#thisorthat-view tr:nth-child(5) td path, .profile-main-icon path, .green-fill path {
	fill: #16a085; /*Green Sea*/
}

#thisorthat-view td {
	color: black !important;
	vertical-align: baseline;
	/*border: 1px solid black;*/
}

#thisorthat-view tr:nth-child(6) td div>span{
	background: -webkit-linear-gradient(top, #D7B323, #ECBE0A);
	background: linear-gradient(top, #878787, #000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
}

.star {
	  width: 1.5em !important;
}

.button-image {
	width: 80% !important;
}

/* ------ Modal View ------ */
.km-modalview .km-view-title {
	  line-height: 2.5em !important;
}

.modal-close-btn {
	border: 0px !important;
	color: white !important;
}

.recommendations {
	width: 40%;
	height: 10rem;
	background-color: #e74c3c;
	border: 2px solid #e74c3c; /*Alizarin*/
	border-radius: 15px;
	display: inline-block;
	margin: 0.5em;
	color: white;
}

/*.selected {
	border: 2px solid #16a085; /*Green Sea*/
/*}*/

.recommendations img, .product-image {
	width: 60%;
}

.recommendation-name {
	font-style: italic;
}

/*#thisorthat-products-details-container>div:nth-child(4){
	position: relative;
}*/

.details-like-container, #thisorthat-products-details-container>div:nth-child(4) {
	position: absolute;
	left: 40%;
}

.details-like-container {
	bottom: 0%;
}

#product-retailers-listview.km-list>li{
	padding: .5em .7em !important;
}


/* ----------- Login View ----------- */
/*profile pic holder icon for profile picture*/
/*Filled in Profile (Contacts) icon*/
.km-profile-pic-holder:before, .km-profile-pic-holder:after  { 
    content: "\e319";
}

#profile-pic, #login-close-btn, #tort-close-btn, #recommendations-btn {
	/*font-size: 1.8em !important;*/ /*Testing with minimal height logo & Cordova Status plugin*/ 
	color:white !important; 
}

#profile-pic img {
	border-radius: 20px;
	margin-top: 5px;
	width: 32px;
	height: 32px;
}

.km-close-btn:before, .km-close-btn:after {
	content: "\e038";
}

.description {
	font-size: 0.9em !important;
	font-style: italic;
}

/*Login Buttons with Media Queries*/
@media screen and (max-width: 359px) {
	.login-btn, #send-wishlist-request-btn, .logout-btn {
		font-size: 1.1em !important;
	}
}

@media screen and (min-width: 360px) {
	.login-btn, #send-wishlist-request-btn, .logout-btn {
		font-size: 1.3em !important;
	}
	.tort-product {
  		width: 100%;
	}
}

/*Login credentials Labels*/
/*Screens smaller than 380 px*/
@media screen and (max-width: 390px) {
	li label {
		font-size: 0.85em !important;
	}
}
/*Screens smaller than 330 px*/
@media screen and (max-width: 330px) {
	li label {
		font-size: 0.75em !important;
	}
}

.facebook-style {
	background-color: #3b5998 !important;
	border-color: #3b5998 !important;
	color: white !important;
}

.login-email-btngroup {
	font-size: 1.2em !important;
}

.login-btn, .logout-btn, .login-email-btngroup, #send-wishlist-request-btn {
	width: 80% !important;
}

.login-form {
	width: 90% !important;
}

.divider {
	width: 90% !important;
}

#login-fields-container {
	margin-bottom: 20px !important;
}

#login-fields-container ul li input {
	width:90% !important;
}

#login-fields-container table {
	width: 100% !important;
	margin-top: 1em;
}

/*Login input fields*/
input.error-placeholder::-webkit-input-placeholder {  
	color: red;  
}

/* ----------- Home-View ----------- */
.placeholder {
	background-image:url("images/image_placeholder.png");
}

#home-view .km-content{
	/*background-image: url("../images/blank_product_search.png") !important;
	background-size: 50% !important;
	background-repeat: no-repeat !important;
	background-position: center !important;*/
}

/*Keep the clear (X in a Filled Circle)*/
.km-clear:after, .km-clear:before {
 	content: "\e031" !important;
}

.event {
	/*border: 2px solid #16a085;*/
  	background-color: white !important;
	color: white !important;
	margin-right: 1em;
}

.person {
	border-radius: 5em;
}

/*.event span{
	position: relative;
	top: 10%;
}*/

.event {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.add span{
	font-size: 2.2em;
}


/*Upcoming Events Test*/
#upcoming-events-scrollview>div>div div>span {
	position: relative;
  	left: 10%;
}
#upcoming-events-scrollview>div>div:first-child div:first-child .event {
	background-image: url("http://damolaomotosho.com/images/my-photo.jpg");
	background-repeat: round;
}
#upcoming-events-scrollview>div>div:first-child div:nth-child(2) .event {
	background-image: url("http://www.lifesongs.com/pre-2015/wp-content/uploads/2013/04/mothers-day-heart.png");
}

#upcoming-events-scrollview>div>div:first-child div:nth-child(3) .event {
	background-image: url("http://www.nsbepropdx.org/uploads/2/3/7/3/23733030/6684358_orig.jpg?179");
	background-repeat: round;
}

#upcoming-events-scrollview>div>div:first-child div:nth-child(4) .event {
	background-image: url("http://www.redwaterrestaurantgroup.com/wp-content/uploads/2014/06/fathers-day-2011.jpg");
}
/*Upcoming Events  Page 2*/
#upcoming-events-scrollview>div>div:nth-child(2) div:first-child .event {
	background-image: url("http://nassau.happeningmag.com/wp-content/uploads/2014/06/4thofjuly.jpg");
	/*background-repeat: round;*/
}
#upcoming-events-scrollview>div>div:nth-child(2) div:nth-child(2) .event {
	background-image: url("http://www.the-wedding-anniversary-site.com/image-files/love-heart-links.jpg");
}

#upcoming-events-scrollview>div>div:nth-child(2) div:nth-child(3) .event {
	background-image: url("http://www.yourtrashpro.com/wp-content/uploads/2014/12/christmas-1.png");
	/*background-repeat: round;*/
}

/*#upcoming-events-scrollview>div>div:first-child .event:nth-child(3) span, .event:nth-child(4) span{
	visibility: hidden;
}*/

/*  ------ Product Search results ------ */
.cover {
	position: absolute;
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 2;
}

@media screen and (max-width: 330px) {
	.item-image {
		width: 100%;
	} 

	.event {
		width: 3.6em;
		height: 3.6em;
	}
}

@media screen and (min-width: 360px) {
	.item-image {
		width: 75%;
	}
	.event {
		width: 4.5em;
		height: 4.5em;
	}
}

.item-image {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../images/image_placeholder.png");
}

#myprofile-list-item img, .retailer-name, .retailer-image {
	float: left;
}

.item-name, .retailer-name {
	font-weight: bold;
	/*line-height: 1.4em;*/
}

.item-name {
	font-size: 0.9em;
	margin: .3em 1em 0 .6em;
}

#home-view .item-description {
	width: 53%;	
}

#home-view .item-description, #shares-view .item-description {
	font-size: .65em;
	/*line-height: 1em;*/
	margin: 0.4em 0 0 0em;
}

#shares-view .item-description {
	margin-right: 1rem;
	margin-left: 1rem;
}

/*Increase the width share of the table for name & description*/
.item-name-column {
	width: 65% !important;
}

.retailer-name {
	font-size: 1.1em !important;
	width: 30% !important;
	visibility: hidden;
}

.wishlist-operation { /*No Longer used*/
	width: 15%;
}

.product-add, .shares-wishlist {
	font-size: 3em !important;
}

.product-add {
	background: -webkit-linear-gradient(#e74c3c 42%, #16a085 36%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

li a {
	color: black !important;
}

.secondary-search-container {
	/*background: #ecf0f1 !important;*/ /*Clouds*/
	/*border-bottom: 1px solid #16a085 !important;*/
	display: inline-block !important;
}


.secondary-search-container img:nth-child(1) {
	width: 3rem;
}

.flexbox {
	display: -webkit-flex; /*Safari, Chrome*/
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.popular {
	position: relative !important;
}

@media screen and (max-width: 359px) {
	.popular {
		width: 9rem !important;
	  	height: 9rem !important;
	}
}


@media screen and (min-width: 360px) {
	.popular {
		width: 10.5rem !important;
	  	height: 10.5rem !important;
	}
}

.popular-description {
  	font-size: 1.3em !important;
	font-weight: 500 !important;
}

#upcoming-events-container {
	margin-left: 10px;
}

/* ----------- Wishlist-View ----------- */
/*#wishlist-view a#wishlist-backbtn.km-widget.km-button.km-back{
	line-height: 2.5em !important;
}*/
.group-header {
	width: 100% !important;
	margin-top:1em !important;
	font-weight: bold;
	margin-left: -10px !important;
	text-transform: uppercase !important;
}

.group-header:first-child {
	margin-top:0em !important;
}

#wishlist-toolbar {
	width: 100% !important;
	margin-bottom: 3em;
	color: #7f8c8d !important;
}

#wishlist-toolbar a:first-child {
	position: absolute;
	left: 5%;
	padding:0em 1em 0.5em 0.5em !important;
}

#wishlist-toolbar a:nth-child(2) {
	position: absolute;
	right: 5%;
	padding:0em 0.5em 0.5em 1em !important;
}

.retailer-image {
	width: 30% !important;
}

.gallery-image {
	width: 100%;
	border-radius: 5px;
}

.gallery-image-container {
	display: table !important;
	width: 30% !important;
	height: 7em !important;
	border: 2px dashed #16a085;
	border-radius:5px;
	margin: 4px !important;
	position: relative;
}

.gallery-image-container span:nth-child(2) {
	display: table-cell !important;
	vertical-align: middle !important;
}

.popular {
	margin: 4px !important;
}

.delete > a {
	background-color: #e74c3c !important;
	color: white !important;
	border-radius: 10em !important;
	padding: 5px !important;
	font-weight: bold !important;
}

.delete > a {
	width: 2em !important;
	height: 2em !important;
}

.delete, .right-corner {
	position: absolute;
	right: 0px;
	padding-left: 2em;
}

/* ------------  Wishlist Retailers View -------- */

#product-details-container td:first-child {
	width: 10% !important;
}

#product-details-container td:first-child img{
	width:100% !important;
}
.fa-trash {
	float: right;
	color: #16a085 !important;
}

#wishlist-retailers-view .product-name {
	font-size: 1em !important;
}

#wishlist-retailers-view .retailer-name {
	visibility: initial;
}

#wishlist-retailers-view #product-retailers-listview td:first-child {
	width: 40% !important;
}

#wishlist-retailers-view #product-retailers-listview td:nth-child(2) {
	width: 50% !important;
}

#wishlist-retailers-view #product-retailers-listview td img {
	width: 4.5em !important;
}

span.fa.fa-2x.fa-shopping-cart {
	padding: 0.5em 0.1em 0.5em 0.5em !important;
}

/* --------------- SHares View -------------------*/

#shares-wishlist-container, #product-retailers-container {
	border: 1px solid black;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.shares-wishlist {
	padding: 0px !important;
}

.shares-wishlist .km-badge{
	font-size: 0.9rem !important;
}
/* ----------- Settings-View ----------- */
#myprofile-list-item img {
	width: 15%;
}

.profile-main-icon{
	width: 2.5em !important;
	height: 2.5em !important;
}

.credit-card {
	width: 2.5em;
	height: 2.5em;
}

#myprofile-view .center table:first-child tr:first-child td:nth-child(2) {
	font-size: 1.8em !important;
}

#myprofile-view .center table:first-child tr:nth-child(2) td:first-child {
	color: #7f8c8d !important;
}

#myprofile-view .center table:nth-child(2) tr:first-child td:first-child {
	padding-right:2em !important;
}

#myprofile-view .center table:nth-child(2) span {
	font-weight: bold !important;
}

#myprofile-view .fa-calendar {
	padding-right: 0.2em !important;
}

#myprofile-view .fa-users {
	margin-right: 1em !important;
}

.red-fill path {
	fill: red;
}

#myprofile-list-item p {
	  margin-left: 4.5em !important;
}

#myprofile-view li:first-child a span:nth-child(2), #myprofile-view li:nth-child(2) a span:nth-child(2), #myprofile-view li:nth-child(3) a td:nth-child(2) span:nth-child(1) {
	font-size: 1.5em !important;
}

#myprofile-view li:nth-child(3) a tr:nth-child(2) td:nth-child(1) span:nth-child(1) {
	color: #7f8c8d !important;
}

#myprofile-view .logout-btn {
	margin-top: 2em !important;
}

#myprofile-view .myprofile-list-view-img {
	width: 3em !important;
	height: 3em !important;
	margin-right:1em !important;
}

#settings-view .km-list>li {
	line-height: 1.6em !important;
}

#settings-view #myprofile-list-item {
	padding: .5em .7em 0em !important;
}

#settings-view .km-group-title {
	border-top-width: 0;
	padding: 0 !important;
	background-color: #95a5a6 !important;
  	color: white !important;
}

.circle {
	border-radius: 10em;
}

.shares-image {
	height: 4em;
	width: 4em;
	border-radius: 10em;
}

/* ----------- myprofile-View ----------- */
/*#myprofile-view .km-navbar a {
	margin-top: 1rem !important;
}*/

.logout-btn {
	background-color: #e74c3c !important;
	color: white !important;
}

/* ----------- Fix Kendo UI issues ----------- */
.km-view-title {
	line-height: 1.5em !important;
}

.km-widget.km-buttongroup .km-button {
	border-width: 1px 1px 1px 1px !important;
}

/* Negatively affecting the list view on the my profile view
.km-ios7 .km-listinset {
	margin: 1em !important;
}*/

/*Add a bottom border to all li childerin in a list(listview)*/
.km-ios7 .km-list>li, #login-fields-container ul li {
	border-width: 0 0 1px !important;
}
/**/
#login-fields-container ul li {
	padding-bottom: 1.4em !important;
}

/*Enables the second or middle li to show*/
li {
	overflow: initial !important;
}
/*Remove the box shadow 'line' from the last child*/
.km-ios7 .km-list>li:last-child {
	box-shadow: inset 0 0 0 rgba(180,180,180,0.5) !important;
	-webkit-box-shadow: inset 0 0 0 rgba(180,180,180,0.5) !important;
}

/*Search box */
/*input field*/
.km-filter-wrap input {
	font-size: 1.0em !important;
	/*background-color: #84EDD9 !important;*/
	color: black !important;
}


#header-search {
	background: #16a085 !important; /*Emerald green*/
	/*For allowing items to be side by side*/
	/*display:-webkit-flex !important;
	-webkit-align-items:center;
	display:inline-flex !important;
	align-items:center;*/
}

  /*Working*/
.active-search {
  	width: 70% !important;
}

/*.active-cancel-btn {*/
#header-search div:last-child {
	display: inline-block;
  	/*padding: 1.0em 0.3em !important;*/
  	padding: 1em 1em 1em 0em !important;
}

.km-filter-wrap {
	-webkit-transition:width .8s ease;
    -moz-transition:width .8s ease;
    -ms-transition:width .8s ease;
    -o-transition:width .8s ease;
    transition:width .8s ease;
    display: inline-block !important;
    /*min-width: 300px;*/
    width: 93%;
}


/*.active-search {
  	display: inline-block !important;
  	-webkit-animation-name: active-search-input-width;
    -webkit-animation-duration: 1s;
    animation-name: active-search-input-width;
    animation-duration: 1s;
}*/

/* Chrome, Safari, Opera */
/*@-webkit-keyframes active-search-input-width {
    from {width: 93%;}
    to {width: 70% !important;}
}*/

/* Standard syntax */
/*@keyframes active-search-input-width {
	from {width: 93%;}
    to {width: 70% !important;}
}*/

/* Search Cancel button*/
#header-search div:last-child {
	display: none;
}

#header-search div:last-child span {
	font-size: 1.2em !important;
}

.km-filter-wrap {
	 background: white !important; /*White*/
	 padding: .2em 0em;
}

/*Set the clear button to hide*/
/*.km-filter-reset {
	display:none !important;
}*/

.km-filter-reset .km-clear {
	right: 5%;
	z-index: 10;
}
