/*Faves 'R Us colors scheme*/
.km-ios7 .km-navbar {
	background-color: #16a085 !important; /*Green Sea*/
	border-color: #16a085 !important;
	background-clip: content-box !important;
}

.km-ios7 .km-buttongroup, .green-text {
	color: #16a085 !important;
}

.km-ios7 .km-view-title {
	color: white !important;
}

/* ----------- Common styles ----------- */
@media screen and (min-width: 361px) {
	.header-logo {
		width:15%;
	}
}

@media screen and (max-width: 360px) {
	.header-logo {
		width:38%;
	}
}

.container {
	margin: 15px;
}

.center {
	margin-left: auto;
    margin-right: auto;
}

.text-center, .center {
    text-align: center;
}

.text-left {
	text-align: left;
}

.common-margin-top {
	margin-top: 20px;
}

/*#tabstrip a, #addItem-actionsheet a, #search-reset-btn span:active{*/
#tabstrip a, #addItem-actionsheet a , #tort-addItem-actionsheet a{
	color: #16a085 !important; /*Green Sea*/
}

.km-tabstrip {
	border-color: #16a085 !important;
	background-color: white !important;
}

/* For Header buttons */
.km-navbar a {
	color: white !important;
}

/*List with pluses*/
.km-wish-list:before,.km-wish-list:after {
	content: "\e078";
}

/*Common style for titles*/
#wishlist-title, #thisorthat-recommendations-modal .km-leftitem a, #thisorthat-products-details-modal .km-leftitem a, .product-name  {
	font-size: 1.4em !important;
	font-weight: bold;
}

.inner-shadow {
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
}
/* ----------- Modal View -----------*/
/*.km-shim {
	top: 7% !important;
	height: 84% !important;
	/*Display shim behind the header
	z-index: 1 !important;*/
/*}*/

.k-animation-container {
	width: 95% !important;
	height: 95% !important;
}

pre {
	margin: 0 !important;	
}

.black-tint {
	background-color: rgba(0, 0, 0,0.4) !important;
}
.emerald-tint {
	background-color: rgba(46, 204, 113,0.4) !important;
}

.green {
	background-color: #16a085 !important;
}

.river-blue-tint {
	background-color: rgba(52, 152, 219,0.4) !important;
}

.alizarin-tint {
	background-color: rgba(231, 76, 60,0.4) !important;
}

.amethyst-tint {
	background-color: rgba(155, 89, 182,0.4) !important;
}

.carrot-orange-tint {
	background-color: rgba(230, 126, 34,0.4) !important;
}

.sunflower-yellow-tint {
	background-color: rgba(241, 196, 15,0.4) !important;
}

.black-tint, .emerald-tint, .green, .alizarin-tint, .river-blue-tint, .amethyst-tint, .carrot-orange-tint, .sunflower-yellow-tint {
	color: white !important;
}

.hidden {
	display: none !important;
}

.show {
	display: initial;
}

#forgot-password-link {
	color: #007aff !important;
}

.no-border {
	border: 0px !important;
	background-color: transparent !important;
}

/* ----------- This or That View ----------- */
#thisorthat-logo {
	width: 55%;
}

#tort-or {
	font-weight: bold !important;
	font-style: italic !important;
	width: 12% !important;
	border: 1px solid black !important;
	border-top: none !important;
	border-bottom: none !important;
	border-radius: 20px !important;
	background-color: rgba(255, 255, 255,1);
	position: absolute;
	left: 44%;
	top: 0.9em;
	z-index: 2;
	font-size: 1.5em;
}

.km-heart-recommendations:before, .km-heart-recommendations:after {
	content: "\e044";
}

/*#recommendations-btn {
	border: 0px !important;
	font-size: 1.6em;
	padding: 0px !important;
	right: 0.5em;
	position: absolute;
	background-color: transparent !important;
}*/

.red {
	color: red !important;
}

.no-recommendations-message, #request-pending-btn {
	font-size: 1.2em;
	font-weight: bold;
}

#recommendations-btn .km-badge{
	font-size: 0.5em !important;
	top: 0.5em !important;
	right: -0.5em !important;
	min-width: 1.5em !important;
	height: 1.5em !important;
	line-height: 1.5em !important;
}

.recommendations a {
	color: #f1c40f;
	position: absolute;
}

.tort-product {
	width: 100%;
}

.image-container {
	position: relative;
}

.menu-container {
	position: absolute;
	bottom: 20%;
	z-index: 2;
}

.right-40 {
	right: 40% !important;
}

.right-15 {
	right: 15% !important;
}

.menu {
	width: 2em;
	height: 2em;
}

.main-menu-back {
	position: absolute;
	bottom: 27%;
	right: 43%;
	background-color: white;
	width: 1.6em;
	height: 0.6em;
	z-index: 1;
}

.menu-option-back {
	/*position: absolute;
	top: 21%;
	left: 24%;*/
	background-color: white;
	/*width: 1.3em;
	height: 1.3em;*/
	border-radius: 30px;
	z-index: -1;
	height: 2.2em !important;
	width: 2.2em;
	line-height: 3.5em;
	box-shadow: 1px 2px 5px #272727;
}

.menu, .menu-option {
	position:relative;
}


.popular-category-image {
	position: relative;
  	z-index: -1;
	width: 62% !important;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5rem;
}

.popular-category-name-container {
	position: absolute;
	top: 45%;
	width: 100% !important;
	font-size: 1.2em !important;
	/*left: 20%;*/
}

.menu path {
    stroke: white;
 	/*stroke-width: 20px;*/
}

.menu path, .best-price {
    fill: #16a085;
}


#thisorthat-view .km-pages {
	color: #16a085 !important; /*Green Sea*/
}

.store {
	width: 1.5em !important;
	height: 1.5em !important;
}

#thisorthat-or {
	margin: 1em 1.5em;
	color: #e74c3c;
  	font-weight: bold;
}

.side-by-side {
	display: inline-block;
}

.divider-container {
	margin-top: 5px;
}

#thisorthat-button-container {
	margin-top: 10px;
}

#product-retailers-container {
	background-color: rgb(244, 244, 244);
}

.thisorthat-button-container .km-button {
	border-color: black !important;
	width: 90% !important;
	border-radius: 15px !important;
  	/*height: 3em;*/
}

.thisorthat-button-container div {
	opacity: 0.8;
}

.top-center {
	position: absolute;
	right: 45%;
  	top: 0%;
}

#thisorthat-view td {
	color: black;
	font-weight: bold;
	/*border: 1px solid black;*/
}

.star {
	  width: 1.5em !important;
}

.button-image {
	width: 80% !important;
}

/* ------ Modal View ------ */
.km-modalview .km-view-title {
	  line-height: 2.5em !important;
}

.modal-close-btn {
	border: 0px !important;
	color: white !important;
}

.recommendations {
	width: 40%;
	height: 10rem;
	background-color: #e74c3c;
	border: 2px solid #e74c3c; /*Alizarin*/
	border-radius: 15px;
	display: inline-block;
	margin: 0.5em;
	color: white;
}

.selected {
	background-color: #16a085;
	border: 2px solid #16a085; /*Green Sea*/
}

.recommendations img, .product-image {
	width: 60%;
}

.recommendation-name {
	font-style: italic;
}


#product-retailers-listview.km-list>li{
	padding: .5em .7em !important;
}
/* ----------- Login View ----------- */
/*profile pic holder icon for profile picture*/
/*Filled in Profile (Contacts) icon*/
.km-profile-pic-holder:before, .km-profile-pic-holder:after  { 
    content: "\e319";
}

#profile-pic, #login-close-btn, #tort-close-btn, #recommendations-btn {
	font-size: 1.8em !important;
	color:white !important; 
}

#profile-pic img {
	border-radius: 20px;
	margin-top: 5px;
	width: 32px;
	height: 32px;
}

.km-close-btn:before, .km-close-btn:after {
	content: "\e038";
}

.description {
	font-size: 0.9em !important;
	font-style: italic;
}

/*Login Buttons with Media Queries*/
@media screen and (max-width: 360px) {
	.login-btn, #send-wishlist-request-btn, .logout-btn {
		font-size: 1.1em !important;
	}
}

@media screen and (min-width: 361px) {
	.login-btn, #send-wishlist-request-btn, .logout-btn {
		font-size: 1.3em !important;
	}
}

/*Login credentials Labels*/
/*Screens smaller than 380 px*/
@media screen and (max-width: 390px) {
	li label {
		font-size: 0.85em !important;
	}
}
/*Screens smaller than 330 px*/
@media screen and (max-width: 330px) {
	li label {
		font-size: 0.75em !important;
	}
}

.facebook-style {
	background-color: #3b5998 !important;
	border-color: #3b5998 !important;
	color: white !important;
}

.login-email-btngroup {
	font-size: 1.2em !important;
}

.login-btn, .logout-btn, .login-email-btngroup, #send-wishlist-request-btn {
	width: 80% !important;
}

.login-form {
	width: 90% !important;
}

.divider {
	width: 90% !important;
}

#login-fields-container {
	margin-bottom: 20px !important;
}

#login-fields-container ul li input {
	width:90% !important;
}

/*Login input fields*/
input.error-placeholder::-webkit-input-placeholder {  
	color: red;  
}

/* ----------- Home-View ----------- */
#home-view .km-content{
	/*background-image: url("../images/blank_product_search.png") !important;
	background-size: 50% !important;
	background-repeat: no-repeat !important;
	background-position: center !important;*/
}

/*Keep the clear (X in a Filled Circle)*/
.km-clear:after, .km-clear:before {
 	content: "\e031" !important;
}

/*  ------ Product Search results ------ */
.item-image {
	width: 16%;
} 

.item-image, .item-name, .item-description, #myprofile-list-item img, .retailer-name, .retailer-image {
	float: left;
}

.item-name, .retailer-name {
	font-weight: bold;
	/*line-height: 1.4em;*/
}

.item-name {
	font-size: 0.9em;
	margin: .3em 1em 0 .6em;
}

.item-description {
	font-size: .65em;
	/*line-height: 1em;*/
	width: 53%;
	margin: 0.4em 0 0 0em;
}


.retailer-name {
	font-size: 1.1em !important;
	width: 30% !important;
	visibility: hidden;
}

.wishlist-operation { /*No Longer used*/
	width: 15%;
}

.product-add {
	font-size: 3em !important;
	background: -webkit-linear-gradient(#e74c3c 42%, #16a085 36%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

li a {
	color: black !important;
}

.secondary-search-container {
	/*background: #ecf0f1 !important;*/ /*Clouds*/
	/*border-bottom: 1px solid #16a085 !important;*/
	display: inline-block !important;
}


.secondary-search-container img:nth-child(1) {
	width: 3rem;
}

.flexbox {
	display: -webkit-flex; /*Safari, Chrome*/
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.popular {
	position: relative !important;
	width: 9rem !important;
  	height: 9rem !important;
  	/*border-radius: 0px 20px;*/ /*THe shape of a leaf*/
  	/*padding-top: 40px;*/
}

.popular-description {
  	font-size: 1.3em !important;
	font-weight: 500 !important;
}

/* ----------- Wishlist-View ----------- */
.gallery-image, .retailer-image {
	width: 30% !important;
}

.gallery-image, .popular {
	margin: 4px !important;
}

/* --------------- SHares View -------------------*/

#shares-wishlist-container, #product-retailers-container {
	border: 1px solid black;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

/* ----------- Settings-View ----------- */
#myprofile-list-item img {
	width: 15%;
}

#myprofile-list-item p {
	  margin-left: 4.5em !important;
}

#settings-view .km-list>li {
	line-height: 1.6em !important;
}

#settings-view #myprofile-list-item {
	padding: .5em .7em 0em !important;
}

#settings-view .km-group-title {
	border-top-width: 0;
	padding: 0 !important;
	background-color: #95a5a6 !important;
  	color: white !important;
}

/* ----------- myprofile-View ----------- */
#myprofile-view .km-navbar a {
	margin-top: 1rem !important;
}

/* ----------- Fix Kendo UI issues ----------- */
.km-view-title {
	line-height: 1em !important;
}

.km-widget.km-buttongroup .km-button {
	border-width: 1px 1px 1px 1px !important;
}

.km-ios7 .km-listinset {
	margin: 1em !important;
}
/*Add a bottom border to all li childerin in a list(listview)*/
.km-ios7 .km-list>li, #login-fields-container ul li {
	border-width: 0 0 1px !important;
}
/**/
#login-fields-container ul li {
	padding-bottom: 1.4em !important;
}

/*Enables the second or middle li to show*/
li {
	overflow: initial !important;
}
/*Remove the box shadow 'line' from the last child*/
.km-ios7 .km-list>li:last-child {
	box-shadow: inset 0 0 0 rgba(180,180,180,0.5) !important;
	-webkit-box-shadow: inset 0 0 0 rgba(180,180,180,0.5) !important;
}

/*Search box */
/*input field*/
.km-filter-wrap input {
	font-size: 1.0em !important;
	/*background-color: #84EDD9 !important;*/
	color: black !important;
}


#header-search {
	background: #16a085 !important; /*Emerald green*/
	display:-webkit-flex !important;
	-webkit-align-items:center;
	display:inline-flex !important;
	align-items:center;
}

.km-filter-wrap {
	 background: white !important; /*White*/
	 padding: .2em 0em;
}

/*Set the clear button to hide*/
/*.km-filter-reset {
	display:none !important;
}*/

