<!-- wishlist View -->
<div data-role="view" id="wishlist-view" data-layout="wishlist-layout" data-after-show="afterWishlistViewShow">
    <div class="container">
        <!-- <div data-role="scrollview"> --> <!--TODO Use with templates-->
            <div class="wishlist-header center">
                <div id="wishlist-title">Default List</div>
            </div>
            <div id="default-wishlist" class="gallery container">
                
            </div>
        <!-- </div> -->
    </div>
</div>

<!-- wishlist Layout -->
<div data-role="layout" data-id="wishlist-layout">
    <!-- Header -->
    <div data-role="header">
        <div data-role="navbar">
            <a id="profile-pic" data-align="left" data-icon="profile-pic-holder" data-role="button"></a>
            <span data-role="view-title"><img class="header-logo" src="images/FavesRUs_logo.png"/></span>
        </div> 
    </div>
    <div data-role="footer">
        <div id="tabstrip" class="tabstrip" data-role="tabstrip">
            <a href="#home-view" data-icon="search">Search</a>
            <a name="wishlist-tab" href="#wishlist-view" data-icon="wish-list">Wishlist</a>
            <a href="#shares-view" data-icon="contacts">Shares</a>
            <a href="#settings-view" data-icon="settings">Settings</a>
        </div>
    </div>
</div>