@model Favit.Server.Models.VoteModel

@{
    ViewBag.Title = "VoteStatus";
}

<h2>Vote Status</h2>

<div class="row">
    <div class="col-xs-4">
        <div class="thumbnail">
            <img src="http://static.giantbomb.com/uploads/scale_small/2/26636/2352651-xbox_360_busca_descontos.jpg">
            <div class="caption">
                <h1>@Html.DisplayFor(model => model.XBoxPrecent)%</h1>
                <h3>@Html.DisplayFor(model => model.XBoxCount)</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-4 versus">
        vs.
    </div>
    <div class="col-xs-4">
        <div class="thumbnail">
            <img src="http://g-ecx.images-amazon.com/images/G/01/aplus/detail-page/PS4_lg.jpg">
            <div class="caption">
                <h1>@Html.DisplayFor(model => model.PS4Precent)%</h1>
                <h3>@Html.DisplayFor(model => model.PS4Count)</h3>
            </div>
        </div>
    </div>
</div>
