<!-- shares View -->
<div data-role="view" id="shares-view" data-init="initSharesView" data-after-show="afterSharesViewShow">
    <div class="container center">
        <div class="description">
            Send Requests to your friends, family and that special someone to view thier wishlist(s).
        </div>
        <a id="send-wishlist-request-btn" data-role="button" class="common-margin-top green">
            <pre class="fa fa-paper-plane fa-lg"></pre>&nbsp;&nbsp;&nbsp;&nbsp;Send Wishlist Request
        </a>
        <div class="text-center common-margin-top  green-text ">
            <a id="request-pending-btn" class="no-border green-text" data-role="button">
                <pre class="fa fa-exclamation-circle fa-lg"></pre>&nbsp;0 Request Pending Approval
            </a>
        </div>
    </div>
    <div id="shares-wishlist-container">
        <ul id="shares-wishlist-listview" data-role="listview" data-bind="source: source">
        </ul>
    </div>
</div>

<div data-role="view" id="shares-retailers-view" data-after-show="afterSharesRetailersViewShow">
    
</div>

<script id="sharesWishlistTemplate" type="text/x-kendo-template">
    # for (var i = 0; i < data.model.items.length; i++) { #
        <li>
            <table>
                <tr>
                    <td rowspan="2"><img class="shares-image" src="#= data.model.items[i].image#"/></td>
                    <td class="item-name-column"><p id="#= data.model.items[i].id#" class="item-name">#= data.model.items[i].name#</p></td>
                    <td rowspan="2"><a data-role="button" data-icon="wish-list" class="shares-wishlist no-border km-widget km-button"><span class="km-text"><span class="km-icon km-wish-list"></span></span><span class="km-badge">#= data.model.items[i].numGifts#</span></a></td>
                </tr>
                <tr>
                    <td><p class="item-description">#= data.model.items[i].description#</p></td>        
                </tr>
            </table>
        </li>
    # } #
</script>
