<!-- Settings View -->
<div data-role="view" id="settings-view" data-init="settingsViewInit" data-layout="settings-layout">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            Profile
            <ul>
                <li id="myprofile-list-item">
                    <a href="#myprofile-view">
                    	<img src="images/image_placeholder.png" data-bind="attr: { src: profilePic}"/>
                    	<p data-bind="text: name">Name</p>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            Help
            <ul>
                <li><a>How Faves'R Us Works</a></li>
                <li><a>FAQs</a></li>
                <li><a>Send Feedback</a></li>
                <li><a>About Faves 'R Us</a></li>
            </ul>
        </li>
    </ul>
</div>

<div data-role="view" id="myprofile-view" data-layout="myprofile-layout" data-transition="slide:left">
	<div class="center container">
		<a id="logout-btn" data-role="button" class="logout-btn green">LOG OUT</a>
	</div>
</div>

<div data-role="layout" data-id="myprofile-layout">
    <div data-role="header">
        <div data-role="navbar">
            <a data-align="left" data-role="backbutton">Back</a>
            <span data-role="view-title"><img class="header-logo" src="images/FavesRUs_logo.png"/></span>
        </div> 
    </div>
</div>

<!-- login Layout -->
<div data-role="layout" data-id="settings-layout">
    <!-- Header -->
    <div data-role="header">
        <div data-role="navbar">
            <!-- <a id="profile-pic" data-align="left" data-icon="profile-pic-holder" data-role="button"></a> -->
            <span data-role="view-title"><img class="header-logo" src="images/FavesRUs_logo.png"/></span>
        </div> 
    </div>
    <div data-role="footer">
        <div id="tabstrip" data-role="tabstrip">
            <a href="app/views/home/home.html" data-icon="home">Home</a>
            <a name="wishlist-tab" href="app/views/wishlist/wishlist.html" data-icon="favorites">Wishlist</a>
            <a href="app/views/shares/shares.html" data-icon="contacts">Shares</a>
            <a href="app/views/settings/settings.html" data-icon="settings">Settings</a>
        </div>
    </div>
</div>