@using Favesrus.Server.Models


<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <div class="menu-container">
        <ul class="nav navbar-nav">
            <li class="page-scroll home">
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li class="page-scroll">
                <a href="#about">About Us</a>
            </li>
            <li class="page-scroll">
                <a href="#services">Services</a>
            </li>
            <li class="page-scroll">
                <a href="#news">News</a>
            </li>
            <li class="page-scroll">
                <a href="#portfolio">Portfolio</a>
            </li>
            <li class="page-scroll">
                <a href="#contact">Contact</a>
            </li>
            @if (ViewBag.Notifications != null)
            {
                foreach (NotificationViewModel notification in ViewBag.Notifications)
                {
                    <li>
                        <a href="#">
                            @notification.NotificationType
                            <span class="badge badge-@notification.BadgeClass">
                                @notification.Count
                            </span>
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
</div>
<!-- /.navbar-collapse -->