
/*Center Horizontally*/
.horizontal_center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*Temporary CSS class for applying color to a div*/
.red_bg {
	background-color: red
}

/*Favs section CSS class for applying color to a div*/
.blue_bg {
	background-color: #3498db;
}



/*Selection section CSS class*/
.alizarin_bg, .suggestion_item {
	background-color: #e74c3c;
}

/*person from thier social media*/
#person {
	width:50px;
	height:50px;
	border-radius: 50%;
}

/*Options container for 
Play ToT, Upcoming Holidays, Favs*/
/*Apply table attribute*/
#options_container {
	width:100%;
}
#options_container, .table {
	display: table;
}

/*Apply table-row for row attribute*/
.row {
	display: table-row;
}

/*Apply table-cell for column attribute*/
.column {
	display: table-cell;
}

/*Apply padding to columns right of column1*/
.rightcolumn {
	padding-left: 10px;
}

/*Vertical Align*/
#valign_container {
	position:relative;
}
#or {
	position: absolute;
	top: 50%;
	margin-top: -1em;
}


/*Text color to white*/
.suggestion_item {
	color: white;
}

/*Styling for the selection text */
/*#selectionA, #selectionB {
	color: white;
}*/

/*Background for the Ask The Network button*/
#ask_network_button {
	background-color: #2980b9;
	font-style: italic;
	font-weight: bold;
	color: white;
}

/*Top Padding for keeping away from the Header*/
.top_padding {
	padding-top: 10px;
}

