.scale_fit, table {
    width: 90%;
}

/*Width of the Login button */
.login_button {
    width: 90%;
}

/*Set Header size to a fixed size*/
.header_logo {
    width: 120px;
}
/*Center*/
#mainmenu_container, #login_container, .selection, #divider, .center, table, #fi-playtot-view, .selection_notifier {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#modalview-login-button, #favorites_modalview_container a {
    font-size:1.3em;
}

#login_container {
    padding-top: 20vh;
}

/*Add padding to the top*/
#mainmenu_container, #person_container, #gift_suggestions_container {
    padding-top: 4vh;
}

#playtot_container {
    padding-top: 2vh;
}


/*Add margin to the top and bottom*/
#favorites_modalview_container a {
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-weight: bold;
}


/*Apply Cloud color border*/
/*
#upcoming_event_container {
    background-color: #ecf0f1
}
*/

#drawer_icon {
    font-size:1.4em;
}

/*Remove default border from images within <a> buttons*/
#signup-modalview-open-button, #playtot-button, #gift_suggestions-button, #login-facebook-open-button, #favorites_button  {
    border: none !important;
}

#favorites_button {
    padding: 0px;
}

#playtot-button, #gift_suggestions-button {
    background-color: white;
}

/*Drawer icon*/
km-drawer-button:before, .km-drawer-button:after  { 
    content: "\E077"; 
}

km-calendar-button:before, .km-calendar-button:after {
    content:"\e089";
}

/*Off icon*/
km-off:before, .km-off:after  { 
    content: "\e0b9"; 
}

.selection, .selection img {
    background-color: #e74c3c;
    border-radius: 50%;
    text-align: center;
}

/*Add default Silver border to the */
.selection {
    border: #bdc3c7 2px solid;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*Set the initial background image for Selection A*/
#selection_A {
    background-image: url("http://g-ecx.images-amazon.com/images/G/01/aplus/detail-page/B009AGXH64hardware.jpg");
}

/*Set the initial background image for Selection B*/
#selection_B {
    background-image: url("http://www.gamestop.com/common/images/lbox/104969b.jpg");
}

.selection_notifier {
    display:none;
    margin-top: 5vh;
    background-image: url("../images/favedit.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#divider {
    font-size: 1.6em;
    font-weight: bold;
    background-color: #e74c3c;
    color: white; /*clouds*/
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button_red {
    display: inline-block;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-weight:bold;
    color: #ffffff;
    font-size:1em;
    line-height: 28px;
    margin: 1em; padding: 1em 1.5em 1em 1em;
    background-image: url("../images/btn_red_left.png"), url("../images/btn_red_right.png"), url("../images/btn_red_center.png") !important;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: left top, right top, left top ;
    height:90px;
}


#fi-login-view .km-content {
    background-image: url("../images/gift_ground.png") !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
}

.left {
    text-align: left;
}

a img {
    width: 100%;
}

/* 
    Retailers View
*/
.fi-retailer-photo, .gift-photo {
    width:35%;
}


.fi-retailer-photo {
    float: left;
    margin: .5em 0;
/*    border: 1px solid rgba(0,0,0,.2);*/
}

.item-title {
    float: left;
    font-size: 1em;
    line-height: 1.4em;
    margin: 1.3em 1em 0 .6em;
    width: 50%;
}

.item-price {
    float: left;
    font-size: .7em;
    line-height: 1em;
    margin: 0 0 0 .95em;
    width: 45%;
}

.details-operation {
    margin-top: -1.2em;
    position: absolute;
    right: 0.6em;
    top: 50%;
}

/*Change the background color of the header for iOS and Android Material*/
.km-navbar, .km-material .km-navbar .km-view-title, .km-material .km-navbar .km-button {
    background-color: #16a085 !important;
}

/*Apply white color to icon and text in header*/
.km-header .km-icon, .km-view-title, .km-navbar .km-button {
    color:white !important;
    font-size: 1.3em;
}


#fi-mainmenu-view {
    background-color: #ecf0f1;
}



/*person from thier social media*/
.person {
    border-radius: 50%;
    margin-left: 10px;
    margin-bottom: 5px;
}

#favorites_button, .person {
    float:left;
}


.person img {
    border-radius: 50%;
}

/*Profile View*/
/*Make the Labels BOLD*/
label {
    font-weight: bold;
}

input, select {
    font-weight: normal;
}

/*Higlight buttons selected inregards to Likes*/
.km-root .selected-button{
    color: #fff;
    background-color: #e74c3c;
}

/*Gift Suggestions View*/
/*Left & Right buttons for the ScrollView*/
#prev-img,
#next-img {
    display: block;
    position: absolute;
    top: 40%;
    z-idex: 1;
    height: 10%;
    width: 15%;
    opacity: 0.2;
}

#prev-img {
    left: -5px;
    background: url('../images/next_button.png') no-repeat 50% 50%;
    background-size: 100% 105%;
    /*Flip 180 degrees*/
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
#next-img {
    left: auto;
    right: -5px;
    background: url('../images/next_button.png') no-repeat 50% 50%;
    background-size: 100% 105%;
}

/*Reduce Gift suggestion photos size */
.suggestions_photo {
    width: 70%;
}

/*Title styling*/
.title {
    color: #e74c3c;
    font-size: 1.5em;
    font-style: italic;
}

.title_image {
    width:8%;

}

/*Moda Logo scaling*/
.moda_supported {
    width: 30%;
}