
/*Center Horizontally*/
.horizontal_center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.horizontal_left {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

/*Temporary CSS class for applying color to a div*/
.red_bg {
	/*background-color: red*/
}

/*Favs section CSS class for applying color to a div*/
.blue_bg {
	background-color: #68c6b6;
}
#intro_page_button_container {
	position: absolute;
	left: 60%;
	top: 55%;
}

#main {
	background-image: url("../images/screen_01_bg_2.png") !important;
	background-repeat: no-repeat !important;
	background-size: 100% 100% !important;
}

#fb_login_button {
	padding-bottom: 13px;
}

#loading_page {
	background-image: url("../images/screen_02_scroll-in-from-left-to-right.png") !important;
	background-repeat: no-repeat !important;
	background-size: 100% 100% !important;

}

#menu_page {
	background-image: url("../images/screen_03_bg.png") !important;
	background-repeat: no-repeat !important;
	background-size: 100% 100% !important;
}

#gift_selection_page {
	background-image: url("../images/screen_04_bg_no-circles.png") !important;
	background-repeat: no-repeat !important;
	background-size: 100% 100% !important;
}

#favs_details_page {
	background-image: url("../images/screen_05_bg.png") !important;
	background-repeat: no-repeat !important;
	background-size: 100% 100% !important;
}

/*Selection section CSS class*/
.alizarin_bg, .suggestion_item {
	background-color: #e74c3c;
}

#selectionA, #selectionB {
	border-radius: 50%;
}

/*person from thier social media*/
.person {
	border-radius: 50%;
	/*background-color: white;*/
	float:left;
	margin-left: 10px;
	margin-bottom: 5px;
	/*padding-top: 74px;*/
}

/*Options container for 
Play ToT, Upcoming Holidays, Favs*/
/*Apply table attribute*/
#options_container {
	width:100%;
}

#play {
	padding-top: 7%;
	margin-left: -10px;
}

.table {
	display: table;
}

/*Apply table-row for row attribute*/
.row {
	display: table-row;
}

/*Apply table-cell for column attribute*/
.column {
	display: table-cell;
}

/*Apply padding to columns right of column1*/
.rightcolumn {
	padding-left: 10px;
}

/*Vertical Align*/
#valign_container, #ask_network_column {
	vertical-align: middle;
}
/*#or {
	position: absolute;
	top: 50%;
	margin-top: -1em;
}*/


/*Text color to white*/
.suggestion_item,.alizarin_bg, #favs_title {
	color: white !important;
}

/*Styling for the selection text */
/*#selectionA, #selectionB {
	color: white;
}*/

/*Background for the Ask The Network button*/
#ask_network_button {
	background-color: #2980b9;
	font-style: italic;
	font-weight: bold;
	color: white;
	border-radius: 5px;
}

/*Top Padding for keeping away from the Header*/
.top_padding {
	padding-top: 10px;
}

#username {
	color: white !important;
}

/**/
#favs_row {
	color: white;
	width: 100%;
}

/*Add styling to the Fav_name*/
#fav_name {
	font-size: 1.5em;
	font-style: italic;
}



/*Add Left alignment*/
#fav_details_column {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-left: 36px;

}