<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\server\Favesrus.Common\packages.config" />
  <repository path="..\src\server\Favesrus.DAL\packages.config" />
  <repository path="..\src\server\Favesrus.Model\packages.config" />
  <repository path="..\src\server\Favesrus.Server\packages.config" />
  <repository path="..\src\server\Favesrus.Services\packages.config" />
</repositories>