<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\server\Favesrus.API\packages.config" />
  <repository path="..\src\server\Favesrus.ApiService\packages.config" />
  <repository path="..\src\server\Favesrus.Core\packages.config" />
  <repository path="..\src\server\Favesrus.DAL\packages.config" />
  <repository path="..\src\server\Favesrus.Domain\packages.config" />
  <repository path="..\src\server\Favesrus.IntegrationTest\packages.config" />
  <repository path="..\src\server\Favesrus.Services\packages.config" />
  <repository path="..\src\server\Favesrus.Web\packages.config" />
</repositories>