<!-- Home View -->
<div data-role="view" id="home-view" data-init="homeViewInit" data-after-show="afterHomeViewShow" data-layout="home-layout">
    <ul id="products-search-listview" data-role="listview" data-bind="source: source">
    </ul>
    <div id="home-popular-container" class=" common-margin-top center">
        <div class="popular-description">POPULAR</div>
        <div class="flexbox">
            <div class="popular side-by-side black-tint">
                <img src="http://ecx.images-amazon.com/images/I/81Qkcobv5oL._SL1500_.jpg" class="popular-category-image"/>
                <div class="popular-category-name-container"><span >Smart Watches</span></div>
            </div>
            <div class="popular side-by-side river-blue-tint">
                <img src="http://slimages.macys.com/is/image/MCY/products/0/optimized/1818660_fpx.tif?wid=262&hei=320&fit=fit,1&$filtersm$" class="popular-category-image"/>
                <div class="popular-category-name-container"><span >Swimwear</span></div>
            </div>
            <div class="popular side-by-side alizarin-tint">
                <img src="http://slimages.macys.com/is/image/MCY/products/3/optimized/2583223_fpx.tif?wid=262&hei=320&fit=fit,1&$filtersm$" class="popular-category-image"/>
                <div class="popular-category-name-container"><span >Designer Bags</span></div>
            </div>
            <div class="popular side-by-side amethyst-tint">
                <img src="http://ecx.images-amazon.com/images/I/81U3NakcDKL._SL1500_.jpg" class="popular-category-image"/>
                <div class="popular-category-name-container"><span >Fantasy</span></div>
            </div>
            <div class="popular side-by-side carrot-orange-tint">
                <img src="http://slimages.macys.com/is/image/MCY/products/5/optimized/1027325_fpx.tif?wid=262&hei=320&fit=fit,1&$filtersm$" class="popular-category-image"/>
                <div class="popular-category-name-container"><span >Sunglasses</span></div>
            </div>
            <div class="popular side-by-side sunflower-yellow-tint">
                <img src="http://slimages.macys.com/is/image/MCY/products/7/optimized/2478147_fpx.tif?wid=262&hei=320&fit=fit,1&$filtersm$" class="popular-category-image"/>
                <div class="popular-category-name-container"><span >Sandals</span></div>
            </div>
        </div>
    </div>
    <ul id="addItem-actionsheet" data-role="actionsheet" data-cancel="Close">
        <li><a data-action="addToDefaultWishlist">Add to Default Wishlist</a></li>
        <!-- <li><a>Add to New wishlist</a></li> -->
    </ul>
</div>

<script id="productSearchTemplate" type="text/x-kendo-template">
    # for (var i = 2; i < data.model.items.length; i++) { #
        <li>
            <img class="item-image" src="#= data.model.items[i].image#"/>
            <p id="#= data.model.items[i].id#" class="item-name">#= data.model.items[i].name#</p>
            <p class="item-description">#= data.model.items[i].description#</p>
            <a data-role="button" class="icon-gift product-add"></a>
        </li>
    # } #
</script>


<!-- Home Layout -->
<div data-role="layout" data-id="home-layout">
    <!-- Header -->
    <div data-role="header">
        <div data-role="navbar">
            <!-- <a id="profile-pic" data-align="left" data-icon="profile-pic-holder" data-role="button"></a> -->
            <span data-role="view-title"><img class="header-logo" src="images/FavesRUs_logo.png"/></span>
        </div>
        <div id="header-search" class="km-filter-form">
            <div class="km-filter-wrap"><input type="search" placeholder="Search for products.."><a id="search-reset-btn" class="km-filter-reset hidden" title="Clear" style="display: inline-block"><span class="km-icon km-clear"></span><span class="km-text">Clear</span></a></div><div class="center secondary-search-container green"><img id="dual-search-img" src="images/dual_search.png"/></div></div>
            
    </div>
    <div data-role="footer">
        <div id="tabstrip" class="tabstrip" data-role="tabstrip">
            <a href="#home-view" data-icon="search">Search</a>
            <a name="wishlist-tab" href="#wishlist-view" data-icon="wish-list">Wishlist</a>
            <a href="#shares-view" data-icon="contacts">Shares</a>
            <a href="#settings-view" data-icon="settings">Settings</a>
        </div>
    </div>
</div>