<!-- Home View -->
<div data-role="view" id="home-view" data-init="homeViewInit" data-after-show="afterHomeViewShow" data-layout="home-layout">
<!-- <div data-role="view" id="home-view" data-layout="home-layout"> -->
    <ul id="products-search-listview" data-role="listview" data-bind="source: source">
    </ul>
</div>

<script id="productSearchTemplate" type="text/x-kendo-template">
    # for (var i = 0; i < data.Model.items.length; i++) { #
        <li>
            <img class="item-image" src="#= data.Model.items[i].image#"/>
            <p id="#= data.Model.items[i].id#" class="item-name">#= data.Model.items[i].name#</p>
            <p class="item-description">#= data.Model.items[i].description#</p>
            <a data-role="button" class="icon-gift product-add"></a>
        </li>
    # } #
</script>


<!-- Home Layout -->
<div data-role="layout" data-id="home-layout">
    <!-- Header -->
    <div data-role="header">
        <div data-role="navbar">
            <a id="profile-pic" data-align="left" data-icon="profile-pic-holder" data-role="button"></a>
            <span data-role="view-title"><img class="header-logo" src="images/FavesRUs_logo.png"/></span>
        </div>
        <div id="header-search" class="km-filter-form">
            <div class="km-filter-wrap"><input type="search" placeholder="Search for products.."><a id="search-reset-btn" class="km-filter-reset hidden" title="Clear" style="display: inline-block"><span class="km-icon km-clear"></span><span class="km-text">Clear</span></a></div></div>
            <div class="center secondary-search-container"><img id="dual-search-img" src="images/dual_search.png"/></div>
    </div>
    <div data-role="footer">
        <div id="tabstrip" data-role="tabstrip">
            <a href="#home-view" data-icon="home">Home</a>
            <a name="wishlist-tab" href="app/views/wishlist/wishlist.html">Wishlist</a>
            <a href="app/views/shares/shares.html" data-icon="contacts">Shares</a>
            <a href="app/views/settings/settings.html" data-icon="settings">Settings</a>
        </div>
    </div>
</div>