<!-- Home View -->
<div data-role="view" id="home-view" data-init="viewInit" data-after-show="afterHomeViewShow" data-layout="home-layout">
<!-- <div data-role="view" id="home-view" data-layout="home-layout"> -->
    <ul id="products-search-listview"></ul>
    </ul>
    <!--<div id="container">
        <h2>
            Home
        </h2>
    </div>-->
</div>
<!-- Home Layout -->
<div data-role="layout" data-id="home-layout">
    <!-- Header -->
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"><img class="header-logo" src="images/FavesRUs_logo.png"/></span>
        </div> 
    </div>
    <div data-role="footer">
        <div id="tabstrip" data-role="tabstrip">
            <a href="app/views/home/home.html" data-icon="home">Home</a>
            <a name="wishlist-tab" href="app/views/wishlist/wishlist.html" data-icon="favorites">Wishlist</a>
            <a href="app/views/shares/shares.html" data-icon="contacts">Shares</a>
            <a href="app/views/settings/settings.html" data-icon="settings">Settings</a>
        </div>
    </div>
</div>